<div
  class={{this.classNames}}
  style={{this.style}}
  {{did-pan
    onPanStart=@onPanStart
    onPan=@onPan
    onPanEnd=@onPanEnd
    capture=@capture
    preventScroll=@preventScroll
  }}
  ...attributes
>
  {{!-- TODO: allow scroll in desktop mode --}}
  {{#unless this.embed}}
    {{#if this.isOpen}}
      {{set-body-class "mobile-menu--open"}}
    {{/if}}
  {{/unless}}

  {{#if this.maskEnabled}}
    <MobileMenu::Mask
      @isOpen={{this.isOpen}}
      @position={{this.relativePosition}}
      @invertOpacity={{this.invertOpacity}}
      @onClick={{@onClose}}
    />
  {{/if}}

  <MobileMenu::Tray
    @width={{this._width}}
    @isLeft={{this.isLeft}}
    @position={{this.position}}
    @shadowEnabled={{this.shadowEnabled}}
    @mode={{@mode}}
  >
    {{yield
      (hash
        LinkTo=(component "mobile-menu/link-to" onClick=this.close)
        actions=(hash
          close=this.close
        )
      )
    }}
  </MobileMenu::Tray>
</div>