{{! template-lint-disable no-at-ember-render-modifiers }}

<div
  class="mobile-menu__tray"
  style={{this.style}}
  {{did-pan
    onPanStart=@onPanStart
    onPan=@onPan
    onPanEnd=@onPanEnd
    capture=@capture
    preventScroll=@preventScroll
  }}
  {{did-update this.toggleBodyScroll @isClosed}}
  {{will-destroy this.toggleBodyScroll true}}
  ...attributes
>
  {{yield}}
</div>