<div
  class="mobile-menu-wrapper__content {{if @shadowEnabled "mobile-menu-wrapper__content--shadow"}} mobile-menu-wrapper__content--{{this.mode}}"
  style={{this.style}}
  {{did-pan
    onPanStart=@onPanStart
    onPan=@onPan
    onPanEnd=@onPanEnd
    capture=@capture
    preventScroll=false
  }}
  ...attributes
>
  {{yield}}

  {{#if this.mask}}
    <MobileMenu::Mask
      @isOpen={{@isOpen}}
      @onClick={{@onClose}}
    />
  {{/if}}
</div>