<div
  class="mobile-menu-wrapper__content {{if @shadowEnabled "mobile-menu-wrapper__content--shadow"}} {{concat "mobile-menu-wrapper__content--" @mode}}"
  style={{this.style}}
  {{did-pan
    onPanStart=@onPanStart
    onPan=@onPan
    onPanEnd=@onPanEnd
    capture=@capture
    preventScroll=@preventScroll
  }}
  ...attributes
>
  {{yield}}
</div>